body {
    background-color: gray;
    margin: 0;
    direction: rtl;
}
.banner {
    text-align: center;
    font-size: x-large;
    padding: 20px 0;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fceabb+0,fccd4d+50,f8b500+51,fbdf93+100;Orange+3D+%235 */
    background: linear-gradient(to bottom, #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    color: rgb(2, 2, 2);
    font-weight: bold;
    text-shadow: 2px;

}
.menu {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e6f0a3+0,d2e638+50,c3d825+51,dbf043+100;Green+Gloss+%232 */
    background: linear-gradient(to bottom, #e6f0a3 0%, #d2e638 50%, #c3d825 51%, #dbf043 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}
.menu a{
    text-decoration: none;
      display: inline-block;  
      color: black;
    border-left: 1px solid black;
    padding: 5px;
    min-width: 50px;
    text-align: center;

    }